# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
**/data/
**/broker-data/

# Environment
.env

# H2 database
*.mv.db
*.h2.db

# Misc
*.class
